.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contact-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contact-icon{
    padding-top: 45px;
    padding-left: 10px;
}
.contact-icon .fa-envelope{
    font-size: 270px;
    color:var(--secondary-color) ;
}
.contact-info{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align:center;
}

.contact-info p{
    padding-bottom: 5px;
    font-weight: 100;
}

.contact-box h1{
    font-size: 50px;
}

.message-box{
    padding: 12px 10px 0 10px;
}

#name, #email, #message{
    outline: none;
}

input, textarea{
    width:400px;
    box-sizing: border-box;
    font-size: 1em;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 7px ;
    border: 1px solid var(--accent-color);
    color: var(--body-text-color);
}

textarea{
    padding: 10px;
}
#name, #email{
    height:40px;
}
#message{
    height: 100px;
    text-align: top;
}

#send{
    border:none;
    outline:none;
    height:38px;
    width: 100px;
    background-color: #57a244;
    border-radius: 15px;;
    transition:.3s;
}
#send:hover{
    background-color: #549842;
}
#send:active{
    border: 2px solid black;
    transform: scale(.9);
    transition: .3s ease-out;
}
tr:last-child{
    text-align: center;
}


@media only screen and (max-width: 500px) {
    input, textarea{
        width: 100%;
    }
    .contact-info{
        font-size: 0.8em;
    }
}
