.content{
    display: flex;
    justify-content: center;
}
.projects{
    width: max-content;
    padding: 0 20px;
    padding-top: 20px;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    gap: 20px;
    box-sizing: border-box;
}
.image-boxes{
    width:max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    align-items: center;
}

.image:hover{
    transform: translateY(-15px);
    box-shadow: 0 0 100px -4px var(--shadow-color);    
}
.image{
    width: 255px;
    height: 190px;
    margin: 9px 8px;
    border-radius: 7px;
    
    transition: .2s ease-in-out;
}


.content h3{
    font-size: 1.7em;
}
.content h4{
    font-size: 1.3em;
}

.names{
    margin-top: 7px;
    transition: transform .4s;
}

.names::after{
    padding:0 7px;
    font: var(--fa-font-solid);
    content: '\f0d7';
    font-size: 16px;
    display: inline-block;
    transition: .5s ease-in-out;
}
.names:hover{
    cursor: pointer;
    transform: scale(1.2);
}    

.dropdown::after{
    font: var(--fa-font-solid);
    content: '\f0d7';
    font-size: 20px;
    transform: rotate(180deg);
}

.description{
    background-color: #00000007;
    width: 255px;
    text-align: justify;
    padding: 5px 8px;
    padding-top: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
}

.dropdown + .description{
    max-height: 400px;
}


.sections:last-of-type{
    padding-bottom: 40px;
}

.image{
    background-position: center;
    background-size: cover;
}

.website-1{
    background-image: url('tea_and_coffee.png');
}
.website-2{
    background-image: url('tiny_chess_bot.png');
}
.website-3{
    background-image: url('mini_2d_game.png');
}
.game-1{
    background-image: url('gravity.png');
}
.game-2{
    background-image: url('dodge_blocks.png');
}
.game-3{
    background-image: url('tower_defence.png');
}

.animation-1{
    background-image: url('blender_donut.png');
}

.animation-2{
    background-image: url('character_walk_cycle.png');
}
.animation-3{
    background-image: url('memes.png');
}
